* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial;
  font-weight: 300;
  background-color: #1a1613;
  color: white;
}

.navigation {
  display: flex;
  padding: 1rem;
}

.navigation-logo {
  margin-right: auto;
}
.navigation-logo-img {
  height: 6rem;
}

.navigation-items {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navigation-item {
  font-size: 1.2rem;
}

.navigation-item a {
  color: inherit;
  text-decoration: none;
}
.navigation-item a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
}

section {
  margin-block: 2rem;
}
.team {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.paints {
  display: flex;
  gap: 2rem;
}
.paint-img {
  height: 8rem;
}
