<h1>A propos de nous</h1>
<section id="team">
  <div class="team">
    <img class="team-img" src="/images/team.jpg" alt="team image" />
    <p class="team-text">
      Notre équipe est composée de 5 personnes chacune spécialisée dans un domaine</p>
  </div>
</section>