<h1>Nos travaux</h1>
<section id="works">
  <div class="paints">
    <div class="paint">
      <a href="/images/oeuvre1.jpg"><img
          class="paint-img"
          src="/images/oeuvre1.jpg"
          alt="peinture 1"
        /></a>
      <p class="paint-text">Peinture 1</p>
    </div>
    <div class="paint">
      <a href="/images/oeuvre2.jpg"><img
          class="paint-img"
          src="/images/oeuvre2.jpg"
          alt="peinture 2"
        /></a>
      <p class="paint-text">Peinture 2</p>
    </div>
    <div class="paint">
      <a href="/images/oeuvre3.jpg"><img
          class="paint-img"
          src="/images/oeuvre3.jpg"
          alt="peinture 3"
        /></a>
      <p class="paint-text">Peinture 3</p>
    </div>
  </div>
</section>