<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style/style.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="navigation">
        <a class="navigation-logo" href="/"><img
            class="navigation-logo-img"
            src="/images/logo.jpg"
            alt="logo"
          /></a>
        <ul class="navigation-items">
          <li class="navigation-item"><a href="/about">About</a></li>
          <li class="navigation-item"><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>